* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #a12e38;
}

.main {
    background-image: linear-gradient(to bottom, #a12e38, black);
    height: 100%;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
}